doctype html 
html 
    header
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{title}
        link(rel='stylesheet' href='/css/home.css')

    body
        .container
            block content
                form(action='/login' method='get')
                    button.login-btn.btn(type='submit') Login
                ion-icon(name="mail-outline")